.top-portfolio {
    margin-top: 148px;
}

.top-portfolio-scroll {
    width: 48px;
    height: 293px;
    margin: 155px auto;
    margin-bottom: 0;

    .scroll-title {
        width: 87px;
        height: 48px;
        font-family: "Rufina", serif;
        font-weight: 700;
        font-size: 32px;
        color: #fff;
        transform: rotate(90deg);
    }

    .scroll-line {
        width: 184px;
        height: 0;
        margin-top: 148px;
        margin-left: -44px;
        border: 2px dashed #FFFFFF;
        transform: rotate(90deg);
    }
}